footer { 
    width: 100%;
    position: relative;
    z-index: 100;
    padding-right: 30px;

    .footer__wrapper {
        @include flex();
        padding-top: 30px;
        border-top: 1px solid #EBEBEB;
        width: 100%;
    }
}
.social {
    a {
        font: 14px/16px $pnb;
        color: $heading;
        display: inline-block;
        margin: 5px;
        text-transform: uppercase;
    }
    &:last-of-type {
        a {
            margin-right: 0;
        }
    }
}
.copyright {
    font: 14px/16px $pnb;
}