footer { 
    width: 100%;
    position: absolute;
    z-index: 100;
    padding-right: 30px;
    bottom: 0;

    .footer__wrapper {
        @include flex();
        padding-top: 30px;
        border-top: 1px solid #EBEBEB;
        width: 100%;

        @media (max-width: 1000px) {
            padding-top: 20px;
        }
    }
}
.social {
    a {
        font: 14px/16px $pnb;
        color: $heading;
        display: inline-block;
        margin: 5px;
        text-transform: uppercase;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;

        &:hover {
            color: #ff6666;
        }
    }
    &:last-of-type {
        a {
            margin-right: 0;
        }
    }
}
.copyright {
    font: 14px/16px $pnb;
}