.portfolio {
	position: relative;
	min-height: 100%;
	padding-bottom: 90px;

	.header {
		margin-bottom: 80px;
	}

	footer {
		position: absolute;
		bottom: 30px;
	}
}

.portfolio-item {
	width: -webkit-calc(25% - 20px);
	width: calc(25% - 20px);
	margin: 0 10px 20px 10px;
	display: none;

	img {
		display: block;
		width: 100%;
	}
}
.portfolio-wrapper {
	@include flex($alignI: flex-start, $justify: flex-start);
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	margin-left: -10px;
	margin-right: -10px;
}

.portfolio-controls {
	position: absolute;
	top: 11px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 4;

	.filter {
		background-color: transparent;
		border: 0;
		font-family: $pnb;
		color: $text;
		text-transform: uppercase;
		-webkit-transition: color 0.3s ease;
		-o-transition: color 0.3s ease;
		transition: color 0.3s ease;
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		position: relative;
		padding: 0;

		&.active,
		&:hover {
			color: $accent;
		}
		&:not(:last-child) {
			margin-right: 40px;
		}

		&:not(:last-child):after {
			display: inline-block;
			vertical-align: middle;
			width: 4px;
			height: 2px;
			content: '';
			background-color: $text;
			position: absolute;
			top: 50%;
			margin-top: -1px;
			right: -22px;
		}
	}
}