.portfolio {
	position: relative;
	min-height: 100%;
	padding-bottom: 90px;
	padding-top: 100px;

	.header {
		margin-bottom: 0;
		padding-right: 0;

		.header__top {
			position: fixed;
			padding-top: 30px;
			top: 0;
			width: -webkit-calc(100% - 60px);
			width: calc(100% - 60px);

			@media (max-width: 600px) {
				width: -webkit-calc(100% - 30px);
				width: calc(100% - 30px);
				padding-top: 15px;
			}
		}
	}

	footer {
		position: fixed;
		bottom: 0;
		padding-bottom: 30px;
		background-color: #fff;
	}
}
.portfolio-item {
	width: -webkit-calc(25% - 20px);
	width: calc(25% - 20px);
	margin: 0 10px 20px 10px;
	display: none;
	@media (max-width: 1000px) {
		width: calc(33% - 20px);
		width: -webkit-calc(33% - 20px);
	}
	@media (max-width: 700px) {
		width: calc(50% - 20px);
		width: -webkit-calc(50% - 20px);
	}
	@media (max-width: 500px) {
		width: 100%;
		margin: 20px auto;
	}
	> div {
		overflow: hidden;
		max-height: 0;
		opacity: 0;
		-webkit-transition: all 1s ease;
		   -moz-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		     -o-transition: all 1s ease;
		        transition: all 1s ease;
	}
	img {
		display: block;
		width: 100%;
	}

	&.is-visible >div  {
		max-height: 500px;
		opacity: 1;
	}
}



.portfolio-wrapper {
	@include flex($alignI: flex-start, $justify: flex-start);
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	margin-left: -10px;
	margin-right: -10px;
}

.portfolio-controls {
	position: fixed;
	top: 45px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 4;
	
	@media (max-width: 1000px) {
		position: static;
		display: block;
		margin: 0 auto 40px;
		text-align: center;
		-webkit-transform: none;
		   -moz-transform: none;
		    -ms-transform: none;
		     -o-transform: none;
		        transform: none;
	}
	@media (max-width: 600px) {
		margin-bottom: 20px;
	}

	.filter {
		background-color: transparent;
		border: 0;
		font-family: $pnb;
		color: $text;
		text-transform: uppercase;
		-webkit-transition: color 0.3s ease;
		-o-transition: color 0.3s ease;
		transition: color 0.3s ease;
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		position: relative;
		padding: 0;

		&.active,
		&:hover {
			color: $accent;
		}
		&:not(:last-child) {
			margin-right: 40px;
			@media (max-width: 600px) {
				margin-right: 20px;
			}
		}

		&:not(:last-child):after {
			display: inline-block;
			vertical-align: middle;
			width: 4px;
			height: 2px;
			content: '';
			background-color: $text;
			position: absolute;
			top: 50%;
			margin-top: -1px;
			right: -22px;
			@media (max-width: 600px) {
				right: -11px;
			}
		}
	}
}
.footer--full {
	width: -webkit-calc(100% - 60px);
	width: calc(100% - 60px);
	padding-right: 0;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;

	@media (max-width: 600px) {
		width: -webkit-calc(100% - 30px);
		width: calc(100% - 30px);
	}
}



.menu-open {
	.footer--full {
		position: absolute;
		bottom: 0;
		background-color: #fff;
		padding-bottom: 0;

		@media (max-width: 1000px) {
			display: none;
		}
	}
}
@media (min-width: 1001px) {
	.menu-open .portfolio {
		.header--full {
			width: 50%;
			padding-right: 30px;
		}

		.header__top {
			width: -webkit-calc(50% - 60px);
			width: calc(50% - 60px);
		}
		
		.portfolio-controls {
			visibility: hidden;
		}
		
		.footer--full {
			width: 50%;
			padding-right: 30px;
		}
	}	
}