.column--slider {
	margin-bottom: 0;
	position: relative;

	.slick-track,
	.slick-list {
		height: 100%;
	}

	.slick-slide {
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
	}

	.slick-dots {
		position: absolute;
		right: 0;
		bottom: 0;
		background-color: #fff;
		padding: 15px 10px 5px 40px;
		width: auto;

		li {
			display: block;
			width: 20px;
			height: 20px;
			margin: 10px auto;
			position: relative;
			border-radius: 50%;
			border: 2px solid #fff;
			-webkit-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;

			button {
				width: 6px;
				height: 6px;
				border-radius: 50%;
				padding: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				background-color: #CCCCCC;
				-webkit-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;

				&:before {
					display: none;
				}
			}

			&:hover {
				button {
					background-color: $accent;
				}
			}

			&.slick-active {
				border: 2px solid $accent;

				button {
					background-color: $accent;
				}
			}
		}
	}
}