
// TYPOGRAPHIC
// ---------------------------
body {
	height: 100%;
	width: 100%;
	font-family: $pn;
	font-size: 16px;
	color: $text;
	overflow: auto;
}


// lAYOUT
// ---------------------------
.wrapper {
	margin: 0 auto;
	text-align: center;
}
