
// TYPOGRAPHIC
// ---------------------------
h1 {
    font: 48px/56px $pnb;
    color: $heading;
    margin-bottom: 50px;
    span {
        color: $accent;
        display: block;
    }
}
h1,h2,h3 {
    color: $heading;
}
p {
    line-height: 22px;
}
p, span {
    color: $text;
}
.italic {
    font: 26px/28px $pd;
    font-style: italic;
    display: block;
    a {
        text-decoration: underline;
        color: $accent;
    }
    &--margin {
        margin-top: 60px;
    }
    &--marginSmall {
        margin-top: 40px;
    }
}
.grey,
a.grey {
    text-decoration: none;
    color: $text;
}
html {
    height: 100%;
}
body {
	height: 100%;
	width: 100%;
	font-family: $pn;
	font-size: 16px;
	color: $text;
	overflow: auto;
    position: relative;
}
body {
    padding: 30px;
}
// lAYOUT
// ---------------------------
.wrapper {
	margin: 0 auto;
	text-align: center;
}
section {
    position: relative;
    overflow: hidden;
}
.mainSection {
    height: 100%;
    @include flex();
    overflow: hidden;
}
.column {
    width: 50%;
    height: 100%;
    &--images {
        background-color: $accent;
    }
    &--info {
        @include flex($alignI: flex-start, $direction: column);
        position: relative;
        z-index: 2;
        main {
            padding: 0 40% 0 60px;
        }
        p {
            margin-bottom: 25px;
        }
    }
}