// COLORS
// ---------------------------
$accent: #ff6666;
$heading: #444444;
$text: #212121;

// FONTS
// ---------------------------
$pd:				'Playfair Display';
$fnb:				'Futura New Book';
$pnb:				'Proxima Nova Bd';
$pn:				'Proxima Nova Rg';

// RESPONSIVE
// ---------------------------
$tablets:			'max-width: 1023px';
$phones:			'max-width: 767px';
